{% extends "supervisor/layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Add New Employee</h4>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        {{ form.supervisor_id(value=current_user.supervisor.id) }}
                        {{ form.location_id(value=current_user.supervisor.location_id) }}

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.first_name.label(class="form-label") }}
                                {{ form.first_name(class="form-control") }}
                                {% for error in form.first_name.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.middle_name.label(class="form-label") }}
                                {{ form.middle_name(class="form-control") }}
                                {% for error in form.middle_name.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.last_name.label(class="form-label") }}
                                {{ form.last_name(class="form-control") }}
                                {% for error in form.last_name.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.dob.label(class="form-label") }}
                                {{ form.dob(class="form-control") }}
                                {% for error in form.dob.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.doj.label(class="form-label") }}
                                {{ form.doj(class="form-control") }}
                                {% for error in form.doj.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.phone.label(class="form-label") }}
                                {{ form.phone(class="form-control") }}
                                {% for error in form.phone.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.employee_code.label(class="form-label") }}
                                {{ form.employee_code(class="form-control") }}
                                {% for error in form.employee_code.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.designation.label(class="form-label") }}
                                {{ form.designation(class="form-control") }}
                                {% for error in form.designation.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.aadhaar_no.label(class="form-label") }}
                                {{ form.aadhaar_no(class="form-control") }}
                                {% for error in form.aadhaar_no.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.pan_no.label(class="form-label") }}
                                {{ form.pan_no(class="form-control") }}
                                {% for error in form.pan_no.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.account_number.label(class="form-label") }}
                                {{ form.account_number(class="form-control") }}
                                {% for error in form.account_number.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.ifsc.label(class="form-label") }}
                                {{ form.ifsc(class="form-control") }}
                                {% for error in form.ifsc.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.bank_name.label(class="form-label") }}
                                {{ form.bank_name(class="form-control") }}
                                {% for error in form.bank_name.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.aadhaar_image.label(class="form-label") }}
                                {{ form.aadhaar_image(class="form-control") }}
                                {% for error in form.aadhaar_image.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.pan_image.label(class="form-label") }}
                                {{ form.pan_image(class="form-control") }}
                                {% for error in form.pan_image.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.passbook_image.label(class="form-label") }}
                                {{ form.passbook_image(class="form-control") }}
                                {% for error in form.passbook_image.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.profile_image.label(class="form-label") }}
                                {{ form.profile_image(class="form-control") }}
                                {% for error in form.profile_image.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form.current_address.label(class="form-label") }}
                                {{ form.current_address(class="form-control") }}
                                {% for error in form.current_address.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form.permanent_address.label(class="form-label") }}
                                {{ form.permanent_address(class="form-control") }}
                                {% for error in form.permanent_address.errors %}
                                    <small class="text-danger">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="d-grid">
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
