{% extends "supervisor/layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Welcome, {{ current_user.username }}!</h4>
                </div>
                <div class="card-body">
                    <p class="lead">This is your Supervisor Dashboard.</p>
                    <p>From here, you can:</p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{ url_for('supervisor.add_employee') }}" class="text-decoration-none">
                                <i class="fas fa-user-plus"></i> Add New Employee
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="text-decoration-none">
                                <i class="fas fa-clock"></i> Mark Attendance
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">My Employees</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th>Profile</th>
                                <th>Name</th>
                                <th>Designation</th>
                                <th>Phone</th>
                                <th>Aadhaar</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emp in employees %}
                            <tr>
                                <td>
                                    <img src="{{ url_for('static', filename=emp.profile_image) }}" alt="Profile" width="60" height="60">
                                </td>
                                <td>{{ emp.first_name }} {{ emp.middle_name }} {{ emp.last_name }}</td>
                                <td>{{ emp.designation }}</td>
                                <td>{{ emp.phone }}</td>
                                <td>{{ emp.aadhaar_no }}</td>
                                <td>{{ emp.status }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">No employees found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
